.navbar {
  background-color: rgb(0, 21, 41);
  width: 15%;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 1rem;
}
.nav_container ul {
  margin-top: 2rem;
}
