.ant-layout {
  .page {
    flex: 0.8;
    width: 100%;
    padding: 20px;
    display: flex;
    .search_page {
      justify-self: center;
      align-self: center;
    }
    .card {
      .news_card {
        a {
          text-decoration: none;
          color: grey;
        }
        .card_description {
          .news_image_container {
            display: flex;
            justify-content: space-between;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
        .provider_container {
          display: flex;
          flex-direction: space;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
